* {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.orange {
    color: orangered;
}

.list {
    display: flex;
}

.header {
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png), url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;
    background-size: 50%, 5%;
}

.nav {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

li {
    list-style: none;
    margin-left: 15px;
    text-align: center;
}

.btn {
    background-color: orangered;
    color: aliceblue;
    border: 0;
    padding: 15px 30px;
    border-radius: 5px;
}

.img {
    height: 600px;
}

.banner {
    display: flex;
    margin: 20px auto;
    align-items: center;
    height: 600px;
}

.description {
    padding: 50px;
}

.button {
    margin-top: 30px;

}

.white {
    border: 1px solid orangered;
    padding: 13px 30px;
    border-radius: 5px;
    color: orangered;
    margin-left: 10px;
}

.new {
    margin-top: 150px;
    padding: 80px;
    text-align: center;
    background-color: #FFF8F3;
}

.info {
    display: flex;
    margin-top: 20px;

}

.do {
    margin-top: 150px;
    text-align: center;
    padding: 60px;
}

.dosec {
    display: flex;

}

.work {
    border: 1px solid rgb(241, 237, 237);
    align-items: center;
    padding: 15px;
    margin-left: 20px;
    box-shadow: 35px;
}

.second {
    margin: 20px;
}

.summary {
    margin-top: 150px;
    text-align: center;
    padding: 60px;
}

.my {
    display: flex;
    margin: 40px;
    padding: 30px;
    align-items: center;

}

.expo {

    margin-right: 25px;
    padding: 15px;
}

.edu {

    padding: 15px;
}

.button-2 {
    text-align: center;
}